<!DOCTYPE html>
<html lang="en">
    {% load static %}

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Arah Kiblat</title>
        <link rel="icon" href="{% static '/img/logo/logos512.ico' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous" />
        <link href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
        <link href="{% static 'css/index.css' %}" rel="stylesheet">
        </link>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous">
        </script>
        <script src="{% static 'js/index.js' %}"></script>
    </head>

    <nav class="navbar navbar=default navbar-expand-sm responsive-content bg-transparent" style="margin-top: 15px;">
        <div class="container navbar-header">
            <a class="navbar-brand" href="" style="font-size: 20px; padding-bottom: 14px;">
                <span class="navbar-brand mb-0 h1" style="color: black;">
                    <img src="{% static "/img/logo/logos512.png" %}" width="25" height="25"
                        class="d-inline-block align-top" alt="logos" style="margin-right:1.5px;">
                    Arah Kiblat
                </span>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                data-target=".navbar-collapse" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-expand-sm">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link" style="color: black;" href="">Paper</a></li>
                    <li class="nav-item"><a class="nav-link" style="color: black;" href="https://github.com/emnopal/arah_kiblat">Github</a></li>
                    <li class="nav-item"><a class="nav-link" style="color: black;" href="https://emnopal.github.io/arah_kiblat/">Dokumentasi</a></li>
                    <li class="nav-item"><a class="nav-link" style="color: black;" href="https://arah-kiblat-api.herokuapp.com/docs">API</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <body>
        {% block body %}
        <div class="container">
            <div class="form" style="border-radius: 25px;
                padding: 15px;
                background: -webkit-linear-gradient(45deg, #2ebf91, #8360c3);
                background: -o-linear-gradient(45deg, #2ebf91, #8360c3);
                background: -moz-linear-gradient(45deg, #2ebf91, #8360c3);
                background: linear-gradient(45deg, #2ebf91, #8360c3);">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row justify-content-center g-1">
                        <div class="input w-50 col-10">{{ form.lokasi }}</div>
                        <div class="col-2">
                            <button class="cst-btn btn w-100 d-md-table" type="submit">
                                Generate Arah
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            {% if sudut %}
            <div class="container">
                <div class="mx-auto justify-content-center" style="margin-top: 20px;">
                    <table class="table table-responsive table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Lokasi</th>
                                <th>Lintang</th>
                                <th>Bujur</th>
                                <th>Sudut</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in sudut.items %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {{ key }}
                                    <a href="https://www.google.com/maps/@{{ value.1 }},{{ value.2 }},16z"
                                        class="btn btn-maps btn-sm" target="_blank">
                                        Buka di maps
                                    </a>
                                </td>
                                <td>{{ value.1|floatformat:5 }}</td>
                                <td>{{ value.2|floatformat:5 }}</td>
                                <td>{{ value.0|floatformat:5 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            <br>
        </div>
        </div>
        {% endblock body %}
    </body>

    <div class="footer">
        <p>Arah-Kiblat Versi 1.0 ©2021 by Muhammad Naufal and Rangga Prasetya Alamsyah</p>
    </div>

</html>